* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    width: 1920px;
    height: 254px;
    /* display: grid;
    grid-template-columns: 204px 370px;
    grid-gap: 20px; */

display: flex;

    background-color: #0085B2;

    width: 100%;
}

.logo {
    width: 209px;
    height: 204px;
    margin: auto;
    margin-left: 10px;
    }

.header h1 {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    margin: 50px;
    text-align: center;
    flex: 1;

}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
    display: flex;
}

nav li {
    border: 1px solid #0085B2;
    display: inline-block;
    flex: 1;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #0085B2;
}

nav li a:hover {
    color: #fff;
    background-color: #0085B2;
}

nav li:hover {
    background-color: #0085B2;
}

.wrap {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}


.container {
/* width: 100%;
height: 100%; */
/* border: 5px solid red; */
display: flex;
    justify-content: center;
    align-items: center;    
}

.hello-page {
/* border: 3px solid #0085B2; */

border-top: 3px solid #0085B2;
    border-right: 3px solid #0085B2;
    border-left: 3px solid #0085B2;


margin-top: 30px;
width: 1220px;
height: 675px;

}

.hello-words {
    text-align: center;

    margin-top: 300px;

    font-size: 30px;
    color: #0085B2;

    padding-right: 100px;
    padding-left: 100px;

    /* padding: 100px; */
}

footer {
    background-color: #222226;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer p {
font-size: 20px;
color: #fff;
margin-top: 10px;
margin-bottom: 15px;
}

.img-footer {
width: 86px;
height: 84px;
margin: auto;
margin-top: 15px;
}

/* .block-p {
    display: block;
} */